# Ignore Python dependencies
__pycache__/
venv/
*.pyc
*.pyo
*.pyd

# Ignore Node.js dependencies
node_modules/
dist/

# Ignore IDE/editor settings
.vscode/
.idea/
data

# Ignore AWS credentials
*.env
aws-credentials.json
data

frontend/Archive/
